.Historia-container{
    margin: 15px 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: rgb(184, 182, 182);
    border-radius: 15px;
}
.Historia__contenedor--filtros-ContolesPaginacion{
    padding: 0 16%;
    display: flex;
    justify-content: space-between;
    margin-top:50px

}
.Historia__contenedor--filtros-ContolesPaginacion h1{
color: #f53679;

}